Arrays
2-DArrays&vectors
basicMathsforDSA
BitwiseOperators
CharArrays&String
Conversions
DynamicMemoryAllocation
Functions
Hashing
Linear&BinarySearching
LinkedList
Maps
BitwiseOperators
Oops 
Patterns
Pointer
Queue
Recursion
Sets
Sorting
Stacks
Trees
Tries
Vectors
zzzzz